<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627518177807-090iv2el4mrg6ohmqsllr0kmjall27v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627518177807-090iv2el4mrg6ohmqsllr0kmjall27v3</string>
	<key>API_KEY</key>
	<string>AIzaSyDSlLSYcEjq8VfCN4q-PYbYpX3VufdtMH0</string>
	<key>GCM_SENDER_ID</key>
	<string>627518177807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcteam.MyDictionary-App-Swift</string>
	<key>PROJECT_ID</key>
	<string>mydictionary-92406</string>
	<key>STORAGE_BUCKET</key>
	<string>mydictionary-92406.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627518177807:ios:fd6f9c03a0b0b4c651d97a</string>
</dict>
</plist>