<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241203024129-j34730at1najj3lno67jfeim17akm3nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241203024129-j34730at1najj3lno67jfeim17akm3nn</string>
	<key>API_KEY</key>
	<string>AIzaSyDBfhvGvyvoBGg-alJ69H3tCZeNIDmTB7k</string>
	<key>GCM_SENDER_ID</key>
	<string>241203024129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dcteam.MyDictionary-App-Swift</string>
	<key>PROJECT_ID</key>
	<string>my-dictionary-app-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>my-dictionary-app-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241203024129:ios:2894aea43f865f9ebecb00</string>
</dict>
</plist>